body {
    height: 100%;

    font-family: 'Finlandica', sans-serif;
    font-weight: bold;
}

.layout {
    display: flex;
    justify-content: center;
}

.sidebar {
    margin: 10px;
    border-radius: 20px;

    width: 25%;

    background: #1c4587;

    height: fit-content;
}

.map {
    width: 90%;
    display: block;
    margin: auto;
    padding-top: 20px;
}

.filter {
    width: 90%;
    min-height: 20px;

    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;

    background-color: #4a4a4a;
    border-radius: 20px;
}

.content {
    display: block;
    width: 60%;
}

.wide-box {
    display: block;

    margin: 10px;

    height: 250px;
    border-radius: 20px;

    background-color: #4a4a4a;
}

.half-box {
    display: block;
    width: 50%;

    margin: 10px;

    height: 350px;
    border-radius: 20px;

    background-color: #4a4a4a;
}

.graph {
    width: 100%;
    height: 98%;

    border-radius: 20px;

    background-color: #d6d6d6;
}

.filter-list {
    list-style-type: square;

    padding-top: 10px;
    padding-bottom: 10px;

    font-size: 1.5vw;
}

button {
    font: inherit;
    color: inherit;
    background-color: inherit;

    border-width: 0px;
    border-radius: 10px;

    cursor: pointer;
}

rect {
    transition: opacity 0.5s;
}
circle {
    transition: stroke-width 0.5s, opacity 0.5s;
}
line {
    transition: opacity 0.5s;
}